/* common */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

.bold {
  font-weight: bold !important;
}

.mc {
  padding: 30px 0;
}

.header {
  height: 70px;
  background-color: #14051f;
}

.header.active {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.container {
  width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-right: auto;
  margin-left: auto;
}

.container::before {
  display: table;
  content: " ";
  clear: both;
}

.container h1 {
  font-size: 45px;
  font-weight: 700 !important;
  text-align: center;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row::before {
  display: table;
  content: " ";
  clear: both;
}

.sub_title_wrap {
  position: relative;
  padding: 40px 0;
}

.sub_inner {
  position: relative;
  width: 80%;
  margin: auto;
}

.tit-sec {
  font-size: 28px;
  line-height: 1.5;
  font-weight: bold;
  letter-spacing: -1.3px;
  word-break: keep-all;
  margin-bottom: 10px;
}

/* Sliiide Menu */
.fan-rfa-hamburger-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  width: 30px;
  height: auto;
  fill: #f5f5f5;
  -webkit-transition: fill 250ms;
  transition: fill 250ms;
}

.fan-rfa-hamburger-icon:hover {
  fill: #c6878f;
}

.white-Bkg-hamburger-menu-color {
  fill: #14051f;
  -webkit-transition: fill 250ms;
  transition: fill 250ms;
}

.white-Bkg-hamburger-menu-color:hover {
  fill: #c6878f;
}

.drop-down-menu-close {
  position: absolute;
  top: 20px;
  width: 20px;
  height: auto;
  fill: #14051f;
  -webkit-transition: fill 250ms;
  transition: fill 250ms;
}

.drop-down-menu-close:hover {
  fill: #f5f5f5;
}

.sliding-menu {
  position: absolute;
  height: 100%;
  visibility: hidden;
  z-index: 5;
  background-color: #c6878f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sliding-menu > a {
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 30px;
  line-height: 40px;
  margin: 5px 0;
  letter-spacing: -1px;
}

.sliding-menu > p {
  text-align: center;
  color: #fff;
  font-size: 30px;
  line-height: 40px;
  margin: 5px 0;
  letter-spacing: -1px;
}

.sliding-menu h3 {
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.716px;
  text-transform: uppercase;
}

/* Button Style: Winona */
.button {
  max-width: 250px;
  display: block;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  position: absolute;
  z-index: 1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.button:focus {
  outline: none;
}

.button--winona {
  overflow: hidden;
  padding: 0;
  -webkit-transition: border-color 0.3s, background-color 0.3s;
  transition: border-color 0.3s, background-color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
          transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  cursor: pointer;
}

.button--winona::after {
  content: attr(data-text);
  position: absolute;
  height: 100%;
  top: 0;
  left: 12px;
  opacity: 0;
  color: #f5f5f5;
  -webkit-transform: translate3d(0, 25%, 0);
          transform: translate3d(0, 25%, 0);
  padding: 10px 30px;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
          transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button--winona > span {
  display: block;
  padding: 10px 30px;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
          transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button--winona:hover {
  border-color: #f5f5f5;
  background-color: rgba(20, 5, 31, 0.1);
}

.button--winona:hover::after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.button--winona:hover > span {
  opacity: 0;
  -webkit-transform: translate3d(0, -25%, 0);
          transform: translate3d(0, -25%, 0);
}

.button--winona.button--inverted {
  color: #14051f;
}

.button--winona.button--inverted::after {
  color: #14051f;
}

.button--winona.button--inverted:hover {
  border-color: #14051f;
  background-color: #14051f;
}

.button--border-thin {
  border: 1px solid;
}

.button--round-s {
  border-radius: 5px;
}

.chap-btn--a, .chap-btn--a:visited {
  color: #f5f5f5;
}

/* COUNTER */
.counter-grp {
  position: absolute;
  left: 50%;
  bottom: 8%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 120px;
  height: 25px;
  text-align: center;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.counter-grp .slide-links-container {
  top: 0;
  height: auto;
  width: auto;
  padding: 0;
  margin: 0;
  z-index: 2;
}

.counter-grp .slide-links-container p {
  margin: 0;
}

.counter-grp .slide-links-container a {
  color: #c6878f;
}

/* footer */
#ft {
  position: relative;
  color: #999;
  font-size: 14px;
}

.footer_inner {
  position: relative;
  background: #000;
  padding: 40px 0;
}

.fnb {
  text-align: center;
  padding-bottom: 10px;
}

.fnb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fnb ul li {
  padding: 5px 20px;
  position: relative;
}

.fnb ul li:not(:last-child):after {
  content: '';
  display: inline-block;
  width: 2px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 3px;
  right: 0;
  opacity: .6;
}

.foot_line {
  border-top: 1px solid #333;
  margin: 15px auto;
  padding: 30px 0 10px 0;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.foot_line p {
  font-style: normal;
  font-weight: normal;
  padding-bottom: 0.5rem;
}

.copyright {
  text-align: center;
}
/*# sourceMappingURL=common.css.map */