.film-body {
    padding: 0;
    color: #fff;
    background: #000;
    font-family: 'Pretendard Variable', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}
.filmtop {
    position: relative;
    height: 0;
    padding-bottom: 54%;
    overflow: hidden;
}
.filmtop_visual {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    // -webkit-mask-image: linear-gradient(to top, transparent 0%,black 70%);
    mask-image: linear-gradient(to top, transparent 0%,black 70%);
    animation-name: imgScale;
    animation-duration: 3s;
    img {
        max-width: 100%;
        vertical-align: middle;
    }
}
.filmdetail {
    margin-top: -30rem;
}
.film_sec {
    padding-bottom: 3rem;
    margin-left: 8.5rem;
    &::before {
        margin-left: 4rem;
    }
    .h2 {
        margin-bottom: 1.125rem;
        display: block;
        opacity: 0.99;
    }
    .tit_h1 {
        font-size: 3.4rem;
        color: #fff;
        margin-bottom: 1rem;
    }
    .h3 {
        margin-bottom: 0.75rem;
        display: block;
        opacity: 0.99;
        font-size: 28px;
        font-weight: 700;
    }
    .desc {
        opacity: 0.7;
        line-height: 1.75;
    }
}
.film_info {
    position: relative;
    ul {
        position: relative;
        margin-right: -1.2rem;
        margin-top: 5rem;
        li {
            position: relative;
            padding: 0 5rem 0 0;
            font-size: 1.2rem;
            display: inline-block;
            line-height: 1.7;
            color: #fff;
            font-weight: 600;
            &:first-child {
                padding-left: 0;
            }
            &:not(:last-child):after {
                content: '';
                display: inline-block;
                width: 1px;
                height: 50px;
                background: rgba(255,255,255,0.2);
                position: absolute;
                top: 3px;
                right: 0;
                opacity: .6;
                margin-right: 2.5rem;
            }
            span.screen_outx {
                display: block;
                font-size: 1rem;
                color: #fff;
                font-weight: 400;
            }
        }
    }
}
.credits {
    padding-left: 30px;
    ul {
        margin-top: -0.4rem;
        margin-bottom: -0.4rem;
        position: relative;
        li {
            padding-top: 0.4rem;
            padding-bottom: 0.4rem;
            line-height: 1.38;
            strong {
                display: block;
                color: #fff;
            }
            span {
                display: inline-block;
                padding-right: 0.6rem;
                opacity: 0.7;
                font-weight: 300;
            }
        }
    }
}
.film_tit_en {
    font-size: 1.0rem;
    font-weight: bold;
    opacity: 0.7;
}
// .film, .filmdetail, .film_synopsis, .desc {
//     font-size: 1rem;
// }
.film_synopsis {
    margin-top: 2rem;
}
.film_director {
    padding-top: 2rem;
}
.list_dir {
    margin-top: -1.6rem;
    margin-bottom: -1.6rem;
    background: rgba(255,255,255,0.1);
    margin-top: 1em;
    margin-bottom: 1rem;
    padding: 1em 0;
}
.dir_item {
    padding: 1.6rem 0;
    display: flex;
    align-items: center;
    text-align: left;
}
.dir_thumb {
    margin-right: 3rem;
    > .avatar {
        width: 10rem;
        height: 10rem;
        > img {
            display: block;
            max-width: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}
.dir_name_en {
    padding-top: 8px;
}
.film_photo {
    padding-top: 2rem;
    margin-bottom: 5rem;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1200px;
    max-height: 700px;
    position: relative;
    margin: auto;
}
.film_photo_slider {
    display: none;
    img {
        border-radius: 1.6rem;
        width: 100%;
    }
}
.control_button {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 100%;
    padding: 0 20px;
}
.prev, .next {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    opacity: 0.5;
}
.prev:hover, .next:hover {
    opacity: 1;
}
.film_dots {
    margin-top: 1rem;
    text-align: center;
}
.dot {
    cursor: pointer;
    height: 9px;
    width: 9px;
    margin: 0 3px;
    background-color: #bbb;
    border-radius: 1.6rem;
    display: inline-block;
    transition: background-color 0.6s ease;
    opacity: 0.7;
}
.active {
    width: 60px;
    transition: 0.3s;
    opacity: 1;
}
/* Fading animation */
.slide_fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@keyframes imgScale {
    from {
        transform: scale(1.1);
        opacity: 0.7;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1280px;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
    .film_sec {
        width: 993px;
    }
    .film_photo {
        width: 993px;
    }
}
@media (min-width: 992px) {
    .film_sec {
        padding-bottom: 3.75rem;
    }
    .filmdetail {
        padding-bottom: 2rem;
    }
    .filmdetail_inner {
        margin-top: 25px;
    }
    .film_tit_en {
        font-size: 1.4rem;
    }
    .film_info ul {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .list_dir {
        margin-top: 10px;
        background: none;
        border-radius: 0;
        margin-bottom: 0;
        padding: 0;
    }
    .dir_item {
        text-align: left;   
    }
    .dir_thumb > .avatar {
        width: 12.5rem;
        height: 12.5rem;
    }
}
@media (max-width: 991px) {
    .filmdetail {
        margin-top: auto;
    }
    .film_info {
        padding-left: 0;
    }
    .film_sec {
        margin-left: 0;
    }
}
@media (max-width: 768px) {
    .filmdetail {
        margin-top: auto;
    }
    .film_info {
        padding-left: 0;
        ul {
            margin-top: 1rem;
            li {
                font-size: 1rem;
                padding-right: 1rem;
                span.screen_outx {
                    display: none;
                }
                &:not(:last-child):after {
                    content: '';
                    display: inline-block;
                    width: 1px;
                    height: 10px;
                    background: rgba(255,255,255,0.2);
                    position: absolute;
                    top: 3px;
                    right: 0;
                    opacity: .6;
                }
            }
        }
    }
    .film_sec {
        .h2 {
            padding-left: 0;
            font-size: 24px;
        }
        .tit_h1 {
            margin: 0;
        }
    }
    .list_dir {
        background: transparent;
    }
    .dir_thumb {
        display: none;
    }
}